@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}

body {
  background-color: var(--offblack);
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.card {
  background-color: var(--darkgrey);
  align-content: center;
  max-width: 17rem;
  text-align: center;
  margin: 11rem auto;
  align-items: center;
  padding: 2rem;
  border-radius: 0.7rem;
}

.author {
  align-items: center;
  padding: 0.5rem;
}
.buttonarea {
  padding: 0rem;
  margin-top: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  border-radius: 50%;
  width: 5rem;
  padding-bottom: 0.5rem;
}
h1 {
  font-weight: 500;
  font-size: 1.25rem;
}
h2 {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--green);
}
p {
  font-weight: 300;
  font-size: 0.75rem;
}

button {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 0.4rem;
  border: transparent;
  width: 100%;
}

button:hover {
  background-color: var(--green);
  color: var(--darkgrey);
}
